.portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio__text {
    color: #434455;
}
.portfolio-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0px;
    gap: 48px 24px;

}

.portfolio-card {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 360px;
min-width: 288px;
max-width: 360px;



background: #FFFFFF;


flex: none;
order: 0;
flex-grow: 1;

}

.portfolio-card__content {
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    border-bottom: 1px solid #e7e9fc;
    padding: 32px 16px;
    width: 100%;
    box-sizing: border-box;
}

.portfolio h2 {
    margin-bottom: 72px;
}

.portfolio-card__content h3 {
    margin: 0 0 8px 0;
}
.portfolio-card__content p {
    margin: 0;
}


.portfolio-card img {
    display: block;
    width: 100%;
    height: auto;
}

